<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237197109442-vq4mn3ltnqr6ipk0o5o5h4r0ksn3n973.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237197109442-vq4mn3ltnqr6ipk0o5o5h4r0ksn3n973</string>
	<key>API_KEY</key>
	<string>AIzaSyD7KmaTf-efdzW5dG29SO8Pz9zc8Yp-K-w</string>
	<key>GCM_SENDER_ID</key>
	<string>237197109442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.carkee.app</string>
	<key>PROJECT_ID</key>
	<string>carkee-aad70</string>
	<key>STORAGE_BUCKET</key>
	<string>carkee-aad70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237197109442:ios:14b33433b58045cbc7b35b</string>
</dict>
</plist>